*{
    margin:0 auto;
    padding:0;
    box-sizing: border-box;
}
body{
    width: 85%;
    margin-top: 20px;
    font-family: 'Noto Sans Display', sans-serif;

}
.clerfix::after{
    content:'';
    display: table;
    clear: both;
}

/* riga */
.product-row{
    display: inline-block;
    width: 100%;
}
.product-row .product-container{
    float:left;
    width: 32.5%;
}
.product-row .product-container:nth-child(2){
    margin: 0 1.25%;
}
.product-row .product-container img{
    width: 100%;
    margin-bottom: 5px;
}

.product-row .product-container .product-brand,
.product-row .product-container .product-name{
    display: block;
}
/* contenuto immagini*/
/* hover prima riga */
.product-row:first-of-type .product-container:first-child img:hover
{
    content:url("../img/1b.webp");
}
.product-row:first-of-type .product-container:nth-child(2) img:hover{
    content: url("../img/2b.webp");
}
.product-row:first-of-type .product-container:last-child img:hover{
    content: url("../img/3b.webp");
}
/* FINE hover prima riga */
/* FINE contenuto immagini */
/* span - descrione prodotto */
.product-row .product-container .product-brand{
    text-transform: capitalize;
    font-size: 0.9em;
}
.product-row .product-container .product-name{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.05em;
}

.product-row .product-container .product-price-discount,
.product-row .product-container .product-price-no-discount{
    display: inline-block;
    font-size: 0.8em;
    vertical-align: top;
}
.product-row .product-container .product-price-discount{
    font-weight: bold;
    color:#ff2222;
}
.product-row .product-container .product-price-no-discount{
    text-decoration: line-through;
}
/* FINE span - descrizione prodotto */
/*FINE riga */