*{
    margin:0 auto;
    padding:0;
    box-sizing: border-box;
}
body{
    width: 85%;
    margin-top: 20px;
}
.clerfix::after{
    content:'';
    display: table;
    clear: both;
}

.product-row{
    display: inline-block;
    width: 100%;
}

.product-row .product-container{
    float:left;
    width: 32.5%;
}
.product-row .product-container:nth-child(2){
    margin: 0 1.25%;
}
.product-row .product-container img{
    width: 100%;
}
.product-row .product-container > span{
    display: block;
}

/* contenuto immagini*/
/* prima riga */
.product-row:first-of-type .product-container:first-child img:hover
{
    content:url("../img/1b.webp");
}
.product-row:first-of-type .product-container:nth-child(2):hover{
    content: url("../img/2b.webp");
}
.product-row:first-of-type .product-container:last-child img:hover{
    content: url("../img/3b.webp");
}
/* FINE prima riga */
/* FINE contenuto immagini */