*{
    margin:0 auto;
    padding:0;
    box-sizing: border-box;
}

.product-container > span{
    display: block;
}

/* contenuto immagini */
.product-container:first-of-type img:hover{
    content:url("../img/1b.webp");
}
/* .product-container:nth-of-type(2) img:hover{
    content: url("../img/2b.webp");
} */
/* FINE contenuto immagini */